<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/upload.css">
    <title>Upload</title>
</head>

<body>
    <!-- partial:index.partial.html -->
    <h2>File Upload</h2>
    <p class="lead">이 곳에 업로드해주세요 <b>엑셀(execel)파일형식</b></p>

    <!-- Upload  -->
    <div id="file-upload-form" class="uploader">


        <label for="file-upload" id="file-drag">
            <h1>파일 업로드 완료</h1>
            <span>정상적으로 파일이 업로드 돼었습니다</span>
        </label>
        <input type="button" onclick="location.href='/'" " class=" btn btn-primary " value=" 홈으로 돌아가기 ">
    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src=" /js/home/upload.js "></script>

</body>

</html>