<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="stylesheet" href="css/home/styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결과 화면</title>
</head>

<body class="result-mainpage">

    <div class="learning-result">
        <p> 학습 결과</p>
    </div>

    <div class="result-report">
        <h1>데이터 분석</h1>
        <h1>결과 레포트</h1>
    </div>

    <div class="reuslt-text-align">
        <div class="visible_box">
            <pre class="result_txt"></pre>
            <div class="result_h1_box">
                <h1>판매관련 업무량</h1>
            </div>
            <img class="result_img" src="/css/home/explain.png">
            <img class="result_img2" src="/css/home/explain2.png">
            <img class="result_img" src="/css/home/explain3.png">
            <img class="result_img2" src="/css/home/explain4.png">
            <div class="result_h1_box">
                <h1>상품추천</h1>
            </div>
            <img class="result_img" src="/css/home/explain5.png">
            <img class="result_img2" src="/css/home/explain6.png">
            <img class="result_img" src="/css/home/explain7.png">
            <img class="result_img2" src="/css/home/explain8.png">
            <div class="result_h1_box">
                <h1>향후전망</h1>
            </div>
            <img class="result_img" src="/css/home/explain9.png">
            <img class="result_img2" src="/css/home/explain10.png">
        </div>

    </div>
    <button class="result_btn">결과확인</button>
</body>

<script src="/js/home/output.js" defer></script>
<script src="https://kit.fontawesome.com/6478f529f2.js" crossorigin="anonymous"></script>

</html>