<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/home/styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이거 해조 메인페이지</title>
</head>

</header>

<main class="response_flex_box">
    <div class="user-component">
        <div class="user-component__image">
            <img src="css/home/new_얼마 머니.PNG" class="user-component__avatar user-component__avatar--xl" />
        </div>
    </div>
    <div class="text text1">
        데이터 설명 보기
    </div>
    <div class="text">
        아래 정보들을 입력해주세요.
    </div>

    <ul class="listdiv">
        <li class="list">
            <input id="address" class="input" type="text" placeholder="서비스를 진행하는 장소를 입력해주세요">
        </li>
        <li class="list">
            <input id="type" class="input" type="text" placeholder="서비스 유형을 입력해주세요">
        </li>

    </ul>




    <div class="result">
        <span id="btn" onclick="location.href='output';" type="submit" class="resultbtn" ">데이터 분석시작</span>
    </div>


</main>
<script src=" /js/home/response_explain.js " defer></script>
<script src=" https://kit.fontawesome.com/612ed4556b.js " crossorigin=" anonymous "></script>
</body>

</html>